* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto Mono', sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: black;
	color: white;
	font-size: 1rem;
}

/* start of preloader */
.preload {
	overflow: hidden;
}

.loader-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.loader {
	display: inline-block;
	position: relative;
}

/* end of preloader */

/* start of header */
header {
	padding: 2rem;
	background-color: white;
	color: black;
	text-align: center;
	font-size: 2rem;
	margin-bottom: 2rem;
	user-select: none;
}

.blink {
	animation: blink 0.5s infinite;
}

@keyframes blink {
	to {
		opacity: .0;
	}
}

.animated-title {
	display: flex;
	justify-content: center;
}

/* end of header */

/* start of form section */
form {
	margin: 0 auto;
	max-width: 25rem;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	border-bottom: 5px solid white;
	margin-bottom: 3rem;
}

form .form_info {
	display: flex;
	justify-content: space-between;
}

form input,
form textarea,
.range_output,
button
 {
	font-family: inherit;
	padding: 1rem;
	margin-bottom: 1rem;
	background-color: black;
	color: white;
	border: 0.3rem solid white;
}

.range_output #range_value {
  text-align:center;
  color:white;
}

.range_output input[type="range"] {
  -webkit-appearance:none;
  height:0.5rem;
  background:black;
  outline:none;
  overflow:hidden;
  width:90%;
}

.range_output input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance:none;
  background:white;
  width:3rem;
  height:3rem;
  cursor:pointer;
}

form textarea {
	min-height: 6rem;
	resize: none;
}

::placeholder {
	color: white;
}

form input[type=submit], button {
	cursor: pointer;
	transition: color 0.3s, background-color 0.3s, border 0.3s;
}

form input[type=submit]:hover, button:hover {
	background-color: white;
	color: black;
}

input:focus,
textarea:focus,
input:hover,
textarea:hover {
	outline: none;
	background: white;
	color: black;
	transition: color 0.3s, background-color 0.3s;
}

:focus::placeholder,
:hover::placeholder {
	color: black;
	transition: color 0.3s;
}

/* end of form section */

/* start of footer */
footer {
	padding: 1.5rem;
	background-color: white;
	color: black;
	text-align: center;
	margin-top: auto;
}

/* end of footer */


/* start of entries section */
#entries {
	margin: 0 auto;
	width: min(900px, 85%);
	padding: 1rem;
	margin-bottom: 3rem;
	word-wrap: break-word;
	word-break: break-word;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	align-items: stretch;
}

.entry {
	flex-direction: column;
	justify-content: space-between;
	height:100%;
	margin: 5px;
}

#entries a {
	text-decoration: none;
	color: inherit;
}

.content {
	border: 3px solid white;
	padding: 1rem;
	max-width: 100%;
}

.content:hover {
	background-color: white;
	color: black;
}

.taskname {
	border-bottom: 1px solid white;
	font-weight:bold;
}

/* end of entries section */


/* start od detailed task section */

.detailed_entry {
	margin: auto;
	justify-content: center;
	align-items: center;
	height: 60vh;
	width: 60%;
}

.description {
	border-bottom: 1px dotted white;
}

.entry_info {
	border: 3px solid white;
	padding: 1rem;
	max-width: 100%;
	margin-bottom: 1rem;
}

.entry_functions {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}

/* end of detailed task section */

/* start of media querries */
@media (min-width: 40rem) {
	.user-info {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.75rem;
	}
}

@media (max-width: 40rem) {
	header {
		font-size: 1rem;
	}

	.user-img img {
		width: 0;
	}

	#entries {
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}
}

/* end of media querries */